	#header
	{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:35px;
		min-width:1280px;
		background-color:#EEEEEE;
		border-bottom:#E6E6E6 solid 1px;
	}
	#login,#register,#account
	{
		position:absolute;
		top:0px;
		height:36px;
		cursor:pointer;
	}
	#login
	{
		left:8%;
		width:6%;
	}
	#register
	{
		left:14%;
		width:5%;
	}
	#account
	{
		left:8%;
		width:10%;
		cursor:default;
		display:none;
	}
	#exitTop
	{
		position:absolute;
		top:6px;
		right:5px;
		color:#EE5F00;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#login label,#register label,#account label
	{
		position:absolute;
		left:5px;
		top:6px;
		color:#5E5E5E;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#account label
	{
		max-width:65%;
		overflow:hidden;
	}
	#login label
	{
		color:#EE5F00;
	}
	.firstPage
	{
		position:absolute;
		top:0px;
		left:56%;
		height:30px;
		width:6%;
		padding-top:6px;
		color:#EE5F00;
		text-align:center;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#myaccount,#shoppingCart,#favorite,#sellerCenter
	{
		position:absolute;
		top:-16px;
		height:36px;
		cursor:pointer;
		list-style-type:none;
	}
	#myaccount
	{
		left:63%;
		width:53px;
	}
	#myaccount_sub,#shoppingCart_sub,#favorite_sub,#sellerCenter_sub
	{
		position:absolute;
		top:36px;
		left:-1px;
		border-left:#E6E6E6 solid 1px;
		border-right:#E6E6E6 solid 1px;
		border-bottom:#E6E6E6 solid 1px;
		background-color:white;
		list-style-type:none;
	}
	#myaccount_sub
	{
		width:53px;
		height:30px;
		display:none;
	}
	#shoppingCart_sub
	{
		width:67px;
		height:30px;
		display:none;
	}
	#favorite_sub
	{
		width:53px;
		height:30px;
		display:none;
	}
	#sellerCenter_sub
	{
		width:53px;
		height:76px;
		display:none;
		z-index:9999;
	}
	#purchased,#favorite_good,#openShop,#sold,#selling,#myshoppingCart
	{
		position:absolute;
		left:0px;
		height:23px;
		width:100%;
		text-align:center;
		color:#5E5E5E;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#purchased,#favorite_good,#openShop,#myshoppingCart
	{
		top:3px;
	}
	#sold
	{
		top:27px;
	}
	#selling
	{
		top:49px;
	}
	#shoppingCart
	{
		left:70%;
		width:67px;
	}
	#favorite
	{
		left:78%;
		width:53px;
	}
	#sellerCenter
	{
		left:85%;
		width:53px;
		z-index:9999;
	}
	.myaccount_sellerCenter_label
	{
		position:absolute;
		left:7px;
		top:6px;
		color:#5E5E5E;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#favorite label
	{
		position:absolute;
		left:24%;
		top:6px;
		color:#5E5E5E;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#scLabel
	{
		position:absolute;
		left:22%;
		top:6px;
		color:#5E5E5E;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#shoppingNum
	{
		position:absolute;
		left:64%;
		top:8px;
		color:#EE5F00;
		font-weight:bolder;
		font-size:1vw;
		font-family:Microsoft YaHei;
		cursor:pointer;
	}
	#shoppingCartPic
	{
		position:absolute;
		top:10px;
		left:5%;
		height:13px;
		width:13px;
	}
	#favoritePic
	{
		position:absolute;
		top:10px;
		left:7%;
		height:13px;
		width:13px;
	}
	.pullDown
	{
		position:absolute;
		top:14px;
		right:5%;
		height:5px;
		width:10px;
	}