		.pagesCtrl
		{
			position:absolute;
			top:1740px;
			left:1px;
			width:99%;
			text-align:center;
		}
		.UM_pagesCtrl
		{
			position:absolute;
			top:600px;
			left:1px;
			width:99%;
			text-align:center;
		}
		.M_pagesCtrl
		{
			position:absolute;
			top:670px;
			left:1px;
			width:99%;
			text-align:center;
		}
		a
		{
			padding-top:5px;
			padding-bottom:5px;
			padding-left:10px;
			padding-right:10px;
			border:#C4C4C4 solid 1px;
			background-color:white;
			color:black;
			font-size:14px;
			font-family:Microsoft YaHei;
			text-decoration:none;
		}
		a:hover
		{
			color:#EE5F00;
			border:#EE5F00 solid 1px;
			cursor:pointer;
		}
		.curPageSty
		{
			color:white;
			background-color:#EE5F00;
			border:#EE5F00 solid 1px;
		}
		a.curPageSty:hover
		{
			color:white;
			background-color:#EE5F00;
			border:#EE5F00 solid 1px;
		}
		.pageCount
		{
			color:#777777;
			font-size:14px;
			font-family:Microsoft YaHei;
		}