	body,input
	{
		font-family:Microsoft YaHei;
	}
	#loginWin
	{
		position:absolute;
		top:125px;
		left:35%;
		height:250px;
		width:30%;
		border:#CCCCCC solid 1px;
	}
	#loginhead
	{
		position:absolute;
		top:0px;
		left:0px;
		height:15%;
		width:100%;
		background-color:#F0F0F0;
	}
	#logintitle
	{	
		position:absolute;
		top:5px;;
		left:10%;
		color:gray;
		font-size:20px;
	}
	#logincontent
	{
		position:absolute;
		top:20%;
		left:0px;
		height:80%;
		width:100%;
	}
	#logindata
	{
		position:absolute;
		top:5%;
		left:5%;
		width:100%;
		height:50%;
		line-height:10mm;
		font-size:16px;
		color:gray;
	}
	#loginBtn
	{
		position:absolute;
		top:65%;
		left:25%;
		width:60px;
		font-size:16px;
	}
	#resetBtn
	{	
		position:absolute;
		top:65%;
		left:60%;
		width:60px;
		font-size:16px;
	}